* {
  padding: 0px;
  margin: 0px;
font-family: 'Roboto', sans-serif;
}
#nav {
  width: auto;
  height: 100px;
  background-color: #8100eb;
  display: flex;
  justify-content: space-between;
  color: white;
}

#link {
  list-style-type: none;
  margin-right: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
#link a {
  color:rgb(214, 211, 211);
  text-decoration: none;
}
#link a:hover {
  color: white;
  text-decoration: underline;
  font-size: 18px;
}
#me {
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 5px;
}

#info {
  list-style-type: none;
  margin-left: 20px;
  margin-top: 5px;
}


#main {
  display: flex;
  justify-content: space-between;
  
  width: auto;

  /* flex-wrap: wrap; */
}
#main img {
  width: 300px;
  height: 350px;
 margin: 30px;
  border-radius: 3px;
  /* border: black solid; */
}
#part {
  width: 800px;

  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  
  padding-top: 20px;
  
}
#main div #pair{
    display:flex;
    flex-direction: column;
    


}
#main div #pair span{
  font-size: 60px;
  color:#8100eb ;
}
#main div #pair {
  font-size: 20px;
  color: #666666;
}
/* ---------------------------skills------------------------- */
#Skills{
  margin: 20px;
  background-color: #f6f6f6;
  border-radius: 30px;

  
}
#Skills h1{
  color:#8100eb ;
  font-size: 50px;


}
.skill{
  width: 250px;
  height: 200px;
  background-color: #ededed;

  /* border: black 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  
  
}
.skill:hover{
  width: 255px;
  height: 205x;
   border: 1px solid #979797;
    box-shadow: 0 4px 10px rgba(1, 1, 1, 0.15);
    background-color: #a1a0a0;
}

#my_skills1{
 display: flex;
 flex-wrap: wrap;

}

#my_skills1 img{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}
#my_skills1 p{
  font-size: 30px;
  margin: 30px;
}

/* -----------project-------------------- */


.line{
    border: none;         
    height: 5px;         
    background-color: #ddd;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 20px;      
}
#Project{
  margin: 30px;
   
  
}
#Project h2{
   color:#8100eb ;
  font-size: 50px;
}
.pro{
  margin: 50px;
   
}
.pro h1{
  font-size: 20px;
  margin: 10px;
}
.pro li{
list-style-type:none ;
}
.pro p{
  margin: 40px;
  
}

/* ----------------Recommendations-------------- */

#Recommendations{
  margin: 30px;
 
}
#Recommendations h1{
   color:#8100eb ;
  font-size: 50px;
}
#reco1{
   background-color: #9e9c9c19;
   border-radius: 20px;
  display: flex;
  /* border: red 2px solid; */
 
  scroll-behavior: smooth;
  
  flex-wrap: wrap;
}
/* #reco1::-webkit-scrollbar{
  display: none;
} */
.recom{
   /* min-width: 400px;    
  flex-shrink: 0;   */
  width: 350px;
  height: 180px;
border:1px solid #ccc;
  border-radius: 20px;
  margin: 10px;
  /* text-align: center; */
  
  
  
}
.reting{
  margin: 20px;
  line-height: 1.4;
}
.name{
  margin-left:10px ;
  font-weight: bold;
}
.name span{
  font-weight: bold;
}


#input_fild{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: #8100eb 2px solid; */
  
}
#input_fild h2{
  font-size: 30px;
  margin:20px;

}
#infil{
  display: flex;
  flex-direction: column;
  align-items: center;
 

}
#infil input{
  width: 500px;
}
#infil textarea{
  width: 500px;
  height: 100px;
}
#infil button{
  padding: 5px;
  padding-left:30px ;
  padding-right: 30px;
  color: #8100eb;
  font-weight: bold;
  border: #8100eb solid 1px;
  background-color:white;
  border-radius: 5px;
  

  
}

#infil button:hover{
  background-color: #5b04a3b5;
  color: rgb(8, 8, 8);
  border:rgb(21, 42, 228) solid 1px;
  padding: 7px;
  padding-left:32px ;
  padding-right: 32px;
}


footer{
  width: auto;
  height: 100px;
  background-color: #666666;
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;   
  
}
footer p{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



#up{
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color:#8100eb;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;

  

}
#up SVG{
  margin-top: 8px;
  color: white;
  font-size: 15px;

}
#up SVG:hover{
  color: black;
 
}
#up:hover{
  background-color: #ccc;
}
